<div class="row">
    <div class="col-xs-12">
        <img width="250px" height="200px" src="{{recipe.imagePath}}" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs 12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              Manage Recipe
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item"(click) = "onAddTohoppingList()" style="cursor: pointer;">To Shopping List</a>
              <a class="dropdown-item"  
              style="cursor: pointer;"
              (click) = "onEdit()">Edit Recipe</a>
              <a class="dropdown-item" (click)="onDelete()"  style="cursor: pointer;">Delete Recipe</a>
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
      {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-md-12 p-0">
        <ul class="lisst-group p-0">
            <li 
            class="list-group-item list-group-item-action"
            *ngFor = "let ingrediats of recipe.ingrediants" >
                {{ingrediats.name}} - {{ingrediats.amount}}
            </li>
        </ul>
    </div>
</div>